body
{
    background-color: grey;
    color:aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.transferRow
{
    
}

.removePart

{

}

.partRow
{

}

.partName
{

}

.removePart
{

}

