
/*=================================================
  COLOUR PALETTE
  =================================================*/
:root
{
    /* PINKS */
    --blush-petal: #FFECEE;
    --cotton-candy: #FFE0E6;
    --rosewater: #FFD4DE;
    --strawberry: #FFC9D6;
    --cherry: #FEBDCE;
    --macaron: #FEB1C6;

    --pink-main: #ffd6e7;      
    --pink-light: #ffe6f1;      
    --pink-medium: #ffb8d0;     
    --pink-dark: #e39cb8;       
    --pink-rose: #f3ccda;

    /* DARKS */
    --black-bean: #370808;
    --cordovan: #8B3C46;
    --brown: #91716b;

}

/*=================================================
  BACKGROUND, FONT, OTHER ESSENTIAL STUFF
  =================================================*/
body
{
    /* BACKGROUND FORMATTING */
    background-image: url(forCSS/gridpatternp.png);
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
    background-attachment: fixed;

    /* FONT */
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 15 px;

    /* RESET THIS CRAP */
    margin: 0;
    padding: 0;
}


/*=================================================
  MAKE THE WHOLE THING CENTERED LOL
  =================================================*/
.page-wrapper 
{   
    width: 1000px;   
    margin: 0 auto;   
    padding-top: 20px;
    /*background: rgba(255, 255, 255, 0.6); */
    background-image: url(forCSS/checkbgww.png);
    padding-bottom: 40px;
    min-height: 100vh;
    position: relative;

}


/*=================================================
  CUTE LITTLE LACE BORDER
  =================================================*/
.page-wrapper::before,
.page-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;

    width: 40px;
    background-image: url(forCSS/b5bda989001fd0d97d13c0835f146d963c471e9b2.png); 
    background-size: 100% auto;  
    background-repeat: repeat-y;     
}

.page-wrapper::before {
    left: -40px;
}

.page-wrapper::after {
    right: -40px;
    transform: scaleX(-1);
    transform-origin: center;
}


.credits {
  text-align: center;
  font-size: 10px;
  color: var(--pink-dark);
}


/*=================================================
  PAGE TITLE
  =================================================*/
.page-title 
{
    /* TEXT FORMATTING */
    /*font-family: "Georgia", "Times New Roman", serif;*/
    font-size: 70px;
    font-weight: bold;
    color: var(--brown);
    -webkit-text-stroke: 2px white;
    text-align: left;

    /* BOX FORMATTING */
    width: 900px;                     
    height: 150px;                    
    border: 3px solid var(--black-bean);
    border-radius: 10px;
    background: linear-gradient(to right, var(--pink-main), white); 

    display: flex;                   
    align-items: flex-end;           
    justify-content: flex-start;      
    padding: 10px 15px;       
    margin: 0 auto 30px;
}

.calculator {

    width: 890px;
    margin: 20px auto;           
    padding: 20px;

    background-image: url(forCSS/lacebg.png); 
    border: 3px solid var(--black-bean);
    border-radius: 10px;

    font-size: 15px;
    color: var(--black-bean);

}
.calculator h2 {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
}


.transferRow {
  font-size: 20px;

    
}

#transfers h3 {
  font-size: 30px;
}

.removePart {
    background-color: var(--brown);
    border: 2px solid var(--black-bean);
    border-radius: 10px;

    font-size: 15 px;
    color: white;
    font-weight: bold;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

.removePart:hover {
  background-color: var(--black-bean);
  color: var(--pink-rose);

  transform: scale(1.25);  
}

.partRow {
  
    display: flex;
    gap: 5px 5px;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--pink-light); 
    border: 2px solid var(--black-bean);
}

.partName,
.partPaid {
    border: 2px solid var(--pink-medium);
    border-radius: 10px;

    padding: 2px 2px 2px 5px;

    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

}

.partName:focus,
.partPaid:focus {
    border-color: var(--cotton-candy);
    box-shadow: 0 0 5px var(--pink-medium);
    outline: none;
}

#addPart {
    background-color: var(--brown);
    border: 2px solid var(--black-bean);
    border-radius: 10px;

    font-size: 15px;
    color: white;
    font-weight: bold;

    margin-bottom: 5px;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

#addPart:hover {
  background-color: var(--black-bean);
  color: var(--pink-rose);

  transform: scale(1.25); 
}

#Calculate {
    background-color: var(--brown);
    border: 2px solid var(--black-bean);
    border-radius: 10px;

    font-size: 15px;
    color: white;
    font-weight: bold;

    margin-bottom: 5px;

    transition: transform 0.2s ease, background-color 0.2s ease;

}

#Calculate:hover {
  background-color: var(--black-bean);
  color: var(--pink-rose);

  transform: scale(1.25); 
}

#Save {
    background-color: var(--brown);
    border: 2px solid var(--black-bean);
    border-radius: 10px;

    margin-left: 8px;

    font-size: 15px;
    color: white;
    font-weight: bold;

    margin-bottom: 5px;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

#Save:hover {
  background-color: var(--black-bean);
  color: var(--pink-rose);

  transform: scale(1.25); 
}

#results {
  background-image: url(forCSS/cushionbg.jpg);

  padding: 10px 15px 10px 15px;
  margin-top: 15px;

  border: 3px solid var(--pink-rose);
  border-radius: 10px;
}